@import url("https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@100..400&display=swap");

body,
html {
    display: flex;
    height: 100vh;
    justify-content: center; /* Centers horizontally */
    align-items: center;
    background-color: #d7deea;
}



main {
    text-align: center;
    font-family: "Playwrite DE Grund", cursive;
    font-optical-sizing: auto;
    font-style: normal;
}

#search-section {
    height: 150px;
    background-color: #0a121e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* This centers children horizontally */
    border-radius: 25px;

}

#search-section,
#weather-section {
    width: 90%;
    max-width: 400px;
    margin: 0 auto;
    padding: 0 20px;
}

h1 {
    color: #ecf2f9;
    font-weight: 1000;
    margin: 0;
}

#search-row {
    display: flex;
    gap: 5px;
    margin-top: 10px;
}

#city-name {
    width: 280px;
    height: 40px;
    box-sizing: border-box;
    font-size: 18px;
    border-radius: 10px;
    border: none;
}

#search-bttn {
    width: 75px;
    height: 40px;
    box-sizing: border-box;
    font-size: 18px;
    border-radius: 10px;
    background-color: #4f6992;
    color: #ecf2f9;
    border: none;
    font-weight: bold;
}

#weather-section {
    margin-top: 5px;
    background-color: #889dbf;
    border-radius: 25px;
    font-size: 20px;
    padding-top: 1px;
    padding-bottom: 1px;
}

#show-city {
    color: #ecf2f9;
    padding-top: 0px;
    font-weight: 900;
}

#weather-icon {
    height: 100px;
    width: 100px;
}

#weather-details {
    color: #ecf2f9;
    text-align: center;
    font-size: 18px;
    font-weight: 1000;
}

#weather-icon {
    margin: auto;
    height: 200px;
    width: 200px;
}

@media (max-width: 480px) {

    h1 {
        margin: 0;
        padding: 0;
    }

    #search-section {
        padding: 20px;
    }

    #search-row {
        flex-direction: column;
        gap: 5px;
        align-items: center;
    }

    #city-name,
    #search-bttn {
        width: 100%;
    }

    #weather-icon {
        width: 150px;
        height: 150px;
    }

    #weather-details {
        font-size: 16px;
    }
}